<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This weather application was created by Vishal kumar using weatherstack and mapbox api</p>
        <img class="portrait" src="/image/IMG_20210216_141618.jpg">
    </div>
    
    {{>footer}}
</body>

</html>